@charset "UTF-8";

/* Typical Device Breakpoints
Pequenas telas: 600px max
Celular: 600 até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/
@media screen and (min-width: 600px) {
    
header{
    height: 120px;
    padding: 20px;
    color: white;
}
header img{
    border-radius: 100%;
   
}

header nav{
    margin-left: 70em;
    margin-top: -5em;
}
input{
    margin-left: 70em;
}
section{
    width: 50em;
    height: 400px;
    margin-left: 20px;
    margin-top: 5em;
    padding: 10px;
}

}
@media screen and (min-width: 768px) {
    header{
        height: 120px;
        padding: 20px;
        color: white;
        box-sizing: border-box;
    }
    section{
        width: 90%;
        height: 100%;
        margin-left: -2%;
        margin-top: -2%;
        padding: 10px;
    }
}

@media screen and (max-width: 991px) {
    section{
        width: 90%;
        height: 100%;
        margin-left: 3%;
        margin-top: -2%;
    }


    aside{
        display: none;
    }    
}
@media screen and (min-width: 992px) {
    header{
        
        width: 100%;
        padding: 35px;
        color: white;
        box-sizing: border-box;
    }
    header img{
        border-radius: 100%;
        width: 100px;
        margin-top: -29px;
        display: flex;
    }
    header h1{
        margin-top: -70px;
        margin-left: 150px;
    }
    
    nav{
        margin-left: 60%;
        margin-top: -5em;
    }
    input{
        margin-left: 70em;
        display: block;
    }
    section{
        width: 50em;
        height: 400px;
        margin-left: -1px;
        margin-top: -1%;
        padding: 10px;
    }
  aside{
    display: block;
  }
    aside#caixa1{
            width: 30em;
            height: 100%;
            margin-left: 60%;
            margin-top: -26%;
        }
    aside#caixa2{
            width: 30em;
            height: 100%;
            margin-left: 60%;
            margin-top: 1%;
    }
}
