@charset "UTF-8";

/* Typical Device Breakpoints
Pequenas telas: 600px max
Celular: 600 até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/
/* Mobile First */


*{
    margin: 0px;
    padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: grey;
}
header{
    background-color: #1B3319;
    width: 90vw;
    padding: 25px;
    text-shadow: 3px 1px 1px black;
    color: white;
}
header input{
    display: none;
}
header img{
    display: none;
}
nav a{
    color: white;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    padding: 15px;
    background-color: goldenrod;
    border-radius: 10px;
    margin-left: 18em;
    margin-top: -1.5em;
}
section p{
    width: 80%;
    height: 100%;
    background-color: white;
    margin-top: 1em;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}
aside{
    background-color: white;
    padding: 10px;
    display: none;
    }
    aside#caixa1{
        width: 30em;
        height: 100%;
        margin-left: 65em;
        margin-top: -25em;
    }
    aside#caixa2{
        width: 30em;
        height: 100%;
        margin-left: 65em;
        margin-top: 20px;
    }


