@charset "UTF-8";

/* Typical Device Breakpoints
Pequenas telas: 600px max
Celular: 600 até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/
/* Mobile First */


*{
    margin: 0px;
    padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
   
}

body{
    background-color: #0f1a07;
}
a{
color: white;
text-decoration: none;
text-align: center;
}
a#registro{
    color: black;
    font-weight: bold;
    margin-left: 190px;
}
header{
    text-align: center;
    margin-top: 100px;
}

form{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 250px;
    padding: 15px;
    margin: auto;
    margin-top: 5%;
}

div.card-group{
    margin-top: 10px;
}
div > input{
    background-color: #FAFAFA;
    border: 0.1px solid rgba(100, 100, 100, 0.26);
    width: 350px;
    padding: 8px;
    margin-top: 10px;
}

input#submit{
        background-color: #0f1a07;
        width: 290px;
        border-radius: 30px;
        padding: 15px;
        color: white;
        border: 0px;
        outline: 0px;
        margin-top: 10px;
    }




@media screen and (max-width: 460px) {
    .card-group > input{
   background-color: #FAFAFA;
    border: 0.1px solid rgba(100, 100, 100, 0.26);
    border-radius: 5px;
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 1px;
}
    form{
        background-color: white;
        border-radius: 10px;
        width: 300px;
        height: 190;
        padding: 15px;
    }    

    input#submit{
        background-color: #0f1a07;
        width: 190px;
        border-radius: 30px;
        padding: 10px;
        color: white;
    }
}

@media screen and (min-width: 460px) and (max-width: 1024px){
      .card-group > input{
    background-color: #FAFAFA;
    border: 0.1px solid rgba(100, 100, 100, 0.26);
    border-radius: 5px;
    width: 90%;
    padding: 5px;
}

    form{
        background-color: white;
        border-radius: 10px;
        width: 300px;
        padding: 15px;
    }    
    
    input#submit{
        background-color: #0f1a07;
        width: 100%;
        border-radius: 30px;
        padding: 15px;
        color: white;
        border: 0px;
        outline: 0px;
        margin-top: 15px;
    }
    input#submit:hover{
        cursor: pointer;
        background-image: linear-gradient(to right,black,#1B3319);
    }
   
}





