/* global */

*{
    box-sizing: border-box;
}
html{
    font-size: 14px;
    font-family: sans-serif;
}
body{
     background-color: rgb(0, 0, 0);
     color: #FEFEFE;
    }
h1 > a{
    color: green;
    font-weight: bolder;
    text-decoration: none;
}

div a{
 text-decoration: none;
 color: green;
 
}



h1{
    font-size: 16px;
    font-weight: bolder;
}

/* index */

.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top: 20px;
}
.subforum-titulo{
    background-color: #292B2E;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}
.subforum-titulo > h1{
    font-weight: bold;
}

.subforum-descricao *{
    margin-block: 0;
}

.subforum-linha{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}
.subforum-coluna{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #111314;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;
}

/* pra celulares */
@media screen and (max-width: 460px){
    .container{
        margin: 10px;
        padding: 10px;
    }
    .subforum-linha{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 65% 35%;
    }

    .subforum-status{
    padding: 10px;
    }

    .subforum-devider{
        display:block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(190,190,190,0), rgba(255,255,255,0.75), rgba(190,190,190,0));
    }

}
/* pra tablets */
@media screen and (min-width: 460px) and (max-width: 1024px)
{   .container{
        margin: 15px;
        padding: 15px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 16px;
    }
    h1{
        font-size: 18px;
    }

}

/* Barra de navegação */

header{
    margin-inline: 10px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navegacao{
    background-color: green;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}

.lista-nav{
    list-style-type: none;
    overflow: hidden;
}

.nav-item a{
    float: right;
    display: block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color: #fff;
}

.nav-item a:hover{
    background-color: rgb(0,0,0,0.1);
}

.close-icon i{
    font-size: 60px;
    float: left;
    cursor: pointer;
}

.hide{
    display: none;
}

.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}
.marca{
    font-size: 40px;
    display: inline-block;
}

/* barra de navegação para celulares */
@media screen and (max-width: 460px){
    .navegacao{
    max-height: auto;
}

.nav-item a{
    float: left;
    display: inline;
    text-align: center;
    margin-inline: 3px;
    font-size: 10px;
    padding: 5px;
 
}

.close-icon i{
    font-size: 30px;
}

.brand{
    font-size: 20px;
}
}

/* barra de pesquisa */
.pesquisa-box{
    border: solid 1px green;
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px green;
}
.pesquisa-box select{
    padding: 10px;
}
.pesquisa-box input{
    padding: 10px;
}
.pesquisa-box button{
    padding: 10px;
    background-color: #fff;
    color: #000000;
}

.pesquisa-box button:hover{
    background-color: #000000;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
}

/*Barra de pesquisa para celulares*/

@media screen and (max-width: 460px){
    .pesquisa-box input, .pesquisa-box button, .pesquisa-box select{
        min-width: 300px;
        margin-top: 5px;
    }
}

/* Forum info */

.forum-info{
    padding: 20px;
    background-color: #111314;
}
.chart{
    font-size: 20px;
    font-weight: bold;
}

/* Rodapé */

footer{
    margin-top: 20px;
    padding: 20px;
    background-color: green;
    display: block;
    text-align: center;

}


