<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Post - Central da Lei</title>
    <link rel="stylesheet" href="../static/css/posts.css">
    <link rel="stylesheet" href="../static/css/criar_posts.css">
</head>
<body>
    <div class="container">
        <h1>Criar Novo Post</h1>
        
        <form action="/criar_post" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" required>
            </div>
            
            <div class="form-group">
                <label for="conteudo">Conteúdo:</label>
                <textarea id="conteudo" name="conteudo" rows="10" required></textarea>
            </div>
            
            <div class="form-group">
                <label for="imagem" class="imagem">
                <i class="fas fa-upload"></i> Escolher Imagem
                </label>
                <input type="file" id="imagem" class="imagem-input" name="imagem" accept="image/*">
            </div>
            
            <button type="submit">Publicar Post</button>
        </form>
        
        <a href="/posts">Voltar para Posts</a>
    </div>

    <script>

const inputImagem = document.getElementById('imagem');
const labelImagem = document.querySelector('.imagem');

inputImagem.addEventListener('change', (e) => {
  if (inputImagem.files.length > 0) {
    labelImagem.textContent = `Imagem selecionada: ${inputImagem.files[0].name}`;
  } else {
    labelImagem.innerHTML = '<i class="fas fa-upload"></i> Escolher Imagem';
  }
});
    </script>
</body>
</html>